button {
    text-decoration: 0;
    border: 0;
    background-color: #1a618e;
    color: #ddd;
    padding: 10px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /*border-bottom: 4px solid #09507d;*/
}

button:hover {
    cursor: pointer;
    background-color: #2b729f;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}

button:active {
    border-bottom: 0;
}

.form-searched-location {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr;
    gap: 10px;
}


.form-searched-location > input {
    border: 0;
    border-bottom: 4px solid #1a618e;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border-radius: 10px;
}

.buttons-input {
    display: grid;
    margin-left: 35vw;
    margin-right: 35vw;
    gap: 10px;
}
