* {
  box-sizing: border-box;
  text-decoration: 0;
}

body {
  /*margin: 1hw 1vw 1hw 1vw;*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #557;*/
  color: #ddd;
  background-color: #1a618e;
  background-image: linear-gradient(0deg, #08406c, #09507d, #1a618e, #2b729f, #3c839f);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-and-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weather-cards {
display: grid;
grid-gap: 10px;
}
